.DesktopHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DesktopHeader__left {
  width: 15%;
}

.left__logo {
  width: 100%;
}
.DesktopHeader__right {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.right__navLink {
  margin-right: 0.8em;
  font-weight: 500;
}

.logout-btn {
  cursor: pointer;
}
