.DashBoardContent {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DashBoardContent__header {
  font-weight: bolder;
  margin-bottom: 2em;
}

.DashBoarContent__mainWindow {
  display: flex;
}

.mainWindow__cards {
  background-color: #2f363f;
  padding: 4em 2em;
  height: 30vh;
  transition: transform 0.4s;
  box-shadow: 1rem 2rem 2rem lightslategray;
}

.mainWindow__cards > h2 {
  color: white;
}

.mainWindow__cards:hover {
  transform: scale(1.1);
}

.left-card {
  margin-right: 4em;
}

.right-card {
  margin-left: 4em;
}

@media screen and (max-width: 700px) {
  .DashBoarContent__mainWindow {
    display: flex;
    flex-direction: column;
  }

  .mainWindow__cards {
    margin: 0 auto;
    margin-bottom: 3em;
  }
}
